@import '../Templates.scss';
@import '../Variables.scss';

.modal {
  width: 100%;
  &-title {
    text-align: center;
    margin-bottom: 24px;
    @include fs20;
  }
  &-text {
    @include fs18;
  }
  &-input {
    @include input;
    display: block;
    margin: 15px 0;
    width: 100%;
  }
  &-btns {
    @include flexSpaceBetween;
    .btn {
      @include btn;
      width: 147px;
    }
  }
}

.ant-modal-content {
  background-color: $blueLightBg !important;
}