@import '../Templates.scss';
@import '../Variables.scss';

.settings-form {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 24px 24px;
  background: $blueLightBg;
  .data {
    width: 100%;
    &-item {
      display: flex;
      align-items: center;
      &-title {
        margin-right: 16px;
        width: 180px;
        height: 40px;
        @include fs16;
        color: $darkTextBg;
      }
      .input {
        @include input;
        margin-bottom: 16px;
        max-width: 720px;
        width: 100%;
      }
      .select {
        @include select;
        margin-bottom: 16px;
      }
      .input-wrapper {
        display: flex;
        justify-content: space-between;
        max-width: 720px;
        width: 100%;
        .input {
          max-width: 356px;
          width: 50%;
        }
      }
    }
    .btn {
      @include btn;
      max-width: 916px;
      width: 100%;
    }
  }
  .avatar {
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-icon {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    &-btn {
      @include btn;
      margin-top: 4px;
      width: 96px;
      // height: 40px;
    }
  }
  .avatar-change {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px !important;
    height: 35px;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
  }
  .avatar-title {
    margin-top: 8px;
    color: $darkTextBg;
  }
  input[type="file"] {
    display: none;
}
}