@import '../Variables.scss';
@import '../Templates.scss';

.profile-navigation {
  position: relative;
  font-size: 18px;
  line-height: 22px;
  color: $darkTextBg;
  &:hover > .dropdown {
    transform: translate(0,0);
    opacity: 1;
    pointer-events: all;
  }
  .link {
  width: 35px;
  height: 35px;
  transition: .5s;
  cursor: pointer;
  }
  .dropdown {
    position: absolute;
    z-index: 20;
    top: 100%;
    right: 0;
    width: 180px;
    background: $blueLightBg;
    transform: translateY(10px);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    &-item {
      height: 35px;
      transition: .5s;
      &:hover {
        background: $yellowBg;
      }
    }
    &-item > a {
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      width: 100%;
    }
  }
}