@import '../Variables.scss';
@import '../Templates.scss';

.profile-settings {
  &-header {
    @include flexSpaceBetween;
    .left {
      display: flex;
      .title {
        @include fs30;
      }
    }
    .right {
      @include btn;
      width: 278px;
    }
  }
  .title-2 {
    margin: 28px 0 8px 0;
    @include fs24;
  }
}