@import '../Templates.scss';
@import '../Variables.scss';

.inventory-lists {
  .title {
    font-size: 30px;
    line-height: 37px;
  }
  .text {
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 8px;
  }
  .text--1 {
    margin: 16px 0;
  }
  .text--4 {
    margin-bottom: 16px;
  }
}