@import './Variables.scss';

@mixin btn {
    @include flexCenter;
    position: relative;
    background: $blueBg;
    border-radius: 8px;
    color: $lightBg;
    border: none;
    height: 40px;
    cursor: pointer;
    transition: all 600ms;
    &:focus {
      outline: 0;
    }
  // &:hover {
  //   background: $blueLightBg;
  // }
}

@mixin btn2 {
  @include flexCenter;
  border: none;
  height: 53px;
  background: $yellowBg;
  cursor: pointer;
  color: $darkTextBg;
  font-size: 20px;
  line-height: 23px;
  &:focus {
    outline: 0;
  }
}

@mixin title {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
}

@mixin input {
  padding: 0 5px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  color: $darkTextBg;
  outline: none;
  border: none;
}

@mixin select {
  height: 40px;
  width: 200px;
  border-radius: 6px;
  background: $lightBg;
  .ant-select-selector {
    border-radius: 6px;
    display: flex;
    align-items: center;
    height: 40px;
    input {
      height: 40px;
    }
  }
}

@mixin flexAlignCenter {
  display: flex;
  align-items: center;
}

@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}